<p class="text-center text-muted" *ngIf="!photos.length">
  Sorry, no photos
</p>

<ol class="list-unstyled row">
  <li *ngFor="let cols of rows" class="row no-gutters">
    <!-- Você pode definir o valor de escuridão com atributo brightness que receber valor numérico. Default: 70%-->
    <div *ngFor="let item of cols" class="col-4" dark-on-hover>

      <ap-card [title]="item.description">
        <ap-photo [url]="item.url" [description]="item.description"></ap-photo>
        <div class="text-center p-1">
          <i aria-hidden="true" class="fa fa-heart-o fa-1x mr-2"></i>{{ item.likes }}
          <i aria-hidden="true" class="fa fa-comment-o fa-1x mr-2 ml-2"></i>{{ item.comments }}
        </div>
      </ap-card>

    </div>
  </li>
</ol>
